# My project

This is the url: www.github.com/

In [3]:
import pandas as pd

# load data
data_file = 'classdata-ab.csv'
data = pd.read_csv(data_file)

# view data
data

      m1 lecture
0     67       a
1     59       a
2    100       a
3     81       a
4     80       a
..   ...     ...
108   61       b
109   72       b
110   84       b
111   74       b
112   86       b

[113 rows x 2 columns]